<div class="container d-flex flex-column align-items-center justify-content-center h-100">

  <div style="width: 20em">
    <div class="d-flex justify-content-between">
      <label for="playerId">ID</label>
      <input id="playerId" type="text" class="form-control" [(ngModel)]="playerId">
    </div>
  </div>

  <table class="table text-center" style="width: 20em">
    <tbody>
    <tr>
      <td></td>
      <td><button class="btn btn-success">up</button></td>
      <td></td>
    </tr>
    <tr>
      <td><button class="btn btn-success">left</button></td>
      <td>MOVE</td>
      <td><button class="btn btn-success">right</button></td>
    </tr>
    <tr>
      <td></td>
      <td><button class="btn btn-success">down</button></td>
      <td></td>
    </tr>
    </tbody>
  </table>

</div>
